.timer-wrapper {
  position: absolute;
  padding: 30px;
  width: 510px;
  height: 180px;
  top: 50%;
  left: 50%;
  margin-left: -285px;
  margin-top: -220px;
  border: 1px solid #CDCDCD;
  border-radius: 4px;
}

.empty {
  float: left;
  width: 10px;
  position: relative;
  height: 140px;
}

.input-keyboard {
  background-color: #333333;
  color: #00FF00;
  position: absolute;
  width: 800px;
  height: 150px;
  top: 100%;
  margin-top: -170px;
  left: 50%;
  margin-left: -400px;
}
